In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/Users/johnsnyder/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
users = pd.read_csv('/Users/johnsnyder/GA-DSI-working/Capstone/EMI/users.csv')
userkey = pd.read_csv('/Users/johnsnyder/GA-DSI-working/Capstone/EMI/UserKey.csv',usecols=[0,1],header=None)

In [3]:
users.head()

,RESPID,GENDER,AGE,WORKING,REGION,MUSIC,LIST_OWN,LIST_BACK,Q1,Q2,...,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19
0,36927,Female,60.0,Other,South,Music is important to me but not necessarily m...,1 hour,NaN,49.0,50.0,...,50.0,50.0,71.0,52.0,71.0,9.0,7.0,72.0,49.0,26.0
1,3566,Female,36.0,Full-time housewife / househusband,South,Music is important to me but not necessarily m...,1 hour,1 hour,55.0,55.0,...,12.0,65.0,65.0,80.0,79.0,51.0,31.0,68.0,54.0,33.0
2,20054,Female,52.0,Employed 30+ hours a week,Midlands,I like music but it does not feature heavily i...,1 hour,Less than an hour,11.0,50.0,...,50.0,94.0,51.0,74.0,66.0,27.0,46.0,73.0,8.0,31.0
3,41749,Female,40.0,Employed 8-29 hours per week,South,Music means a lot to me and is a passion of mine,2 hours,3 hours,81.0,80.0,...,76.0,74.0,64.0,73.0,85.0,61.0,77.0,76.0,78.0,88.0
4,23108,Female,16.0,Full-time student,North,Music means a lot to me and is a passion of mine,3 hours,6 hours,76.0,79.0,...,56.0,13.0,82.0,79.0,68.0,71.0,NaN,86.0,80.0,32.0

In [4]:
userkey.columns = ['Key','Description']
userkey.values

array([['RESPID', 'User id'],
       ['GENDER', 'Male/Female'],
       ['AGE', 'Age in years'],
       ['WORKING', 'Working status'],
       ['REGION', 'Region of the UK'],
       ['MUSIC',
        'Listening to music that you have chosen / bought (eg. playing CDs or listening to your iPod) -'],
       ['LIST_OWN',
        'Listening to music that may be on in the background (e.g. the radio or a streaming service like last.fm) -'],
       ['LIST_BACK',
        'Listening to music that may be on in the background (e.g. the radio or a streaming service like last.fm) -'],
       ['Q1',
        'I enjoy actively searching for and discovering music that I have never heard before (Thinking now about music'],
       ['Q2', 'I find it easy to find new music (Thinking now about music'],
       ['Q3',
        'I am constantly interested in and looking for more music (Thinking now about music'],
       ['Q4',
        'I would like to buy new music but I don\x89\xdb\xaat know what to buy (Thinking now about music'],
       ['Q5', 'I used to know where to find music'],
       ['Q6', 'I am not willing to pay for music (Thinking now about music'],
       ['Q7',
        'I enjoy music primarily from going out to dance (Thinking now about music'],
       ['Q8',
        'Music for me is all about nightlife and going out (Thinking now about music'],
       ['Q9', 'I am out of touch with new music (Thinking now about music'],
       ['Q10',
        'My music collection is a source of pride (Thinking now about music'],
       ['Q11', 'Pop music is fun'],
       ['Q12', 'Pop music helps me to escape (Thinking now about music'],
       ['Q13',
        'I want a multi media experience at my fingertips wherever I go (Thinking now about music'],
       ['Q14', 'I love technology'],
       ['Q15', 'People often ask my advice on music - what to listen to'],
       ['Q16',
        'I would be willing to pay for the opportunity to buy new music pre-release - Thinking now about music'],
       ['Q17',
        'I find seeing a new artist / band on TV a useful way of discovering new music (Thinking now about music'],
       ['Q18',
        'I like to be at the cutting edge of new music (Thinking now about music'],
       ['Q19',
        'I like to know about music before other people (Thinking now about music']], dtype=object)

In [5]:
users.LIST_OWN.value_counts()

1 hour                7482
2 hours               6962
Less than an hour     6765
3 hours               3249
1                     3171
0 Hours               3126
2                     2435
4 hours               2014
5 hours               1115
0                     1055
3                     1020
6 hours                717
4                      535
16+ hours              518
8 hours                492
10 hours               473
5                      339
7 hours                298
12 hours               201
6                      129
9 hours                121
8                       80
10                      64
11 hours                55
15 hours                54
14 hours                50
7                       43
12                      32
16 hours                29
13 hours                28
9                       14
15                       9
More than 16 hours       7
14                       6
20                       6
16                       4
13                       2
11                       2
22                       1
18                       1
17                       1
24                       1
Name: LIST_OWN, dtype: int64

In [6]:
users[users['LIST_OWN']=='18']

,RESPID,GENDER,AGE,WORKING,REGION,MUSIC,LIST_OWN,LIST_BACK,Q1,Q2,...,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19
46948,47014,Male,28.0,NaN,Centre,Music means a lot to me and is a passion of mine,18,7,74.0,75.0,...,50.0,88.0,90.0,90.0,90.0,6.0,71.0,90.0,NaN,NaN

In [7]:
pd.value_counts(users['LIST_BACK'])

2 hours               6187
1 hour                5970
Less than an hour     5593
3 hours               3443
0 Hours               2683
4 hours               2633
1                     2422
2                     2111
5 hours               1585
6 hours               1302
3                     1141
8 hours               1124
0                     1022
4                      775
16+ hours              740
10 hours               650
7 hours                643
5                      569
6                      390
8                      356
9 hours                301
12 hours               298
7                      190
10                     118
11 hours                91
14 hours                89
15 hours                83
9                       80
12                      71
13 hours                50
16 hours                49
20                      13
More than 16 hours      11
15                       9
14                       6
11                       5
19                       5
18                       5
16                       4
24                       2
21                       1
Name: LIST_BACK, dtype: int64

In [8]:
pd.value_counts(users['LIST_OWN'])

1 hour                7482
2 hours               6962
Less than an hour     6765
3 hours               3249
1                     3171
0 Hours               3126
2                     2435
4 hours               2014
5 hours               1115
0                     1055
3                     1020
6 hours                717
4                      535
16+ hours              518
8 hours                492
10 hours               473
5                      339
7 hours                298
12 hours               201
6                      129
9 hours                121
8                       80
10                      64
11 hours                55
15 hours                54
14 hours                50
7                       43
12                      32
16 hours                29
13 hours                28
9                       14
15                       9
More than 16 hours       7
14                       6
20                       6
16                       4
13                       2
11                       2
22                       1
18                       1
17                       1
24                       1
Name: LIST_OWN, dtype: int64

**Reclassifying 'LIST_BACK' and 'LIST_OWN' to be on a numeric range, below, grouping values in ranges of 4-hour chunks. Because there are very few data points, relative to the larger data set, that specify values greater than 16 hours (see above), I'm going to reclassify those data points as '5', even though those data points are on a larger spread than ranges for 1-4.**

- 0 = 0, 0 Hours, Less than an hour
- 1 = 1, 1 hour, 2, 2 hours, 3, 3 hours, 4, 4 hours
- 2 = 5, 5 hours, 6, 6 hours, 7, 7 hours, 8, 8 hours
- 3 = 9, 9 hours, 10, 10 hours, 11, 11 hours, 12, 12 hours
- 4 = 13, 13 hours, 14, 14 hours, 15, 15 hours, 16, 16 hours
- 5 = 16+ hours, More than 16 hours, 17, 18, 19, 20, 21, 22, 24

In [9]:
value_updates = {'0': 0, '0 Hours': 0, 'Less than an hour': 0, '1': 1, '1 hour': 1, '2': 1, '2 hours': 1,
                 '3': 1, '3 hours': 1, '4': 1, '4 hours': 1, '5': 2,'5 hours': 2, '6': 2, '6 hours': 2, 
                 '7': 2, '7 hours': 2, '8': 2, '8 hours': 2, '9': 3, '9 hours': 3, '10': 3, '10 hours': 3,
                 '11': 3, '11 hours': 3, '12': 3, '12 hours': 3, '13': 4,'13 hours': 4, '14': 4, '14 hours': 4,
                 '15': 4, '15 hours': 4, '16': 4, '16 hours': 4,'16+ hours': 5, 'More than 16 hours': 5, '17': 5,
                 '18': 5, '19': 5, '20': 5, '21': 5, '22': 5, '24': 5}
def list_cleaner(x):
    if x in value_updates.keys():
        return value_updates[x]
    else:
        return np.nan

In [10]:
users["LIST_BACK"] = users["LIST_BACK"].apply(list_cleaner)
users["LIST_OWN"] = users["LIST_OWN"].apply(list_cleaner)

In [11]:
users.head()

,RESPID,GENDER,AGE,WORKING,REGION,MUSIC,LIST_OWN,LIST_BACK,Q1,Q2,...,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19
0,36927,Female,60.0,Other,South,Music is important to me but not necessarily m...,1.0,NaN,49.0,50.0,...,50.0,50.0,71.0,52.0,71.0,9.0,7.0,72.0,49.0,26.0
1,3566,Female,36.0,Full-time housewife / househusband,South,Music is important to me but not necessarily m...,1.0,1.0,55.0,55.0,...,12.0,65.0,65.0,80.0,79.0,51.0,31.0,68.0,54.0,33.0
2,20054,Female,52.0,Employed 30+ hours a week,Midlands,I like music but it does not feature heavily i...,1.0,0.0,11.0,50.0,...,50.0,94.0,51.0,74.0,66.0,27.0,46.0,73.0,8.0,31.0
3,41749,Female,40.0,Employed 8-29 hours per week,South,Music means a lot to me and is a passion of mine,1.0,1.0,81.0,80.0,...,76.0,74.0,64.0,73.0,85.0,61.0,77.0,76.0,78.0,88.0
4,23108,Female,16.0,Full-time student,North,Music means a lot to me and is a passion of mine,1.0,2.0,76.0,79.0,...,56.0,13.0,82.0,79.0,68.0,71.0,NaN,86.0,80.0,32.0

In [12]:
users['LIST_BACK'].unique()

array([ nan,   1.,   0.,   2.,   5.,   4.,   3.])

In [13]:
users['WORKING'].unique()

array(['Other', 'Full-time housewife / househusband',
       'Employed 30+ hours a week', 'Employed 8-29 hours per week',
       'Full-time student', 'Temporarily unemployed',
       'Retired from full-time employment (30+ hours per week)', nan,
       'Self-employed', 'Retired from self-employment',
       'Prefer not to state', 'Part-time student',
       'In unpaid employment (e.g. voluntary work)',
       'Employed part-time less than 8 hours per week'], dtype=object)

In [14]:
users.to_csv(path_or_buf='/Users/johnsnyder/GA-DSI-working/Capstone/EMI/users_clean.csv')

In [15]:
users.columns

Index([u'RESPID', u'GENDER', u'AGE', u'WORKING', u'REGION', u'MUSIC',
       u'LIST_OWN', u'LIST_BACK', u'Q1', u'Q2', u'Q3', u'Q4', u'Q5', u'Q6',
       u'Q7', u'Q8', u'Q9', u'Q10', u'Q11', u'Q12', u'Q13', u'Q14', u'Q15',
       u'Q16', u'Q17', u'Q18', u'Q19'],
      dtype='object')