In [4]:
# import pandas, matplotlib
import pandas as pd

In [5]:
# read in the csv from https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv
fte = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv')

In [6]:
# view the head
fte.head()

,RespondentID,How often do you travel by plane?,Do you ever recline your seat when you fly?,How tall are you?,Do you have any children under 18?,"In a row of three seats, who should get to use the two arm rests?","In a row of two seats, who should get to use the middle arm rest?",Who should have control over the window shade?,Is itrude to move to an unsold seat on a plane?,"Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?",...,Is itrude to wake a passenger up if you are trying to walk around?,"In general, is itrude to bring a baby on a plane?","In general, is it rude to knowingly bring unruly children on a plane?",Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?,Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific
3,3434268208,Once a year or less,Always,"5'11""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific
4,3434250245,Once a month or less,About half the time,"5'7""",No,The person in the middle seat gets both arm rests,The person in aisle,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",Yes,No,Male,30-44,"$50,000 - $99,999",Bachelor degree,Pacific

In [7]:
# view the columns - use iteration to print them out
columns = []
for col in fte.columns:
    columns.append(col)
    
columns

['RespondentID',
 'How often do you travel by plane?',
 'Do you ever recline your seat when you fly?',
 'How tall are you?',
 'Do you have any children under 18?',
 'In a row of three seats, who should get to use the two arm rests?',
 'In a row of two seats, who should get to use the middle arm rest?',
 'Who should have control over the window shade?',
 'Is itrude to move to an unsold seat on a plane?',
 'Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?',
 "On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?",
 'Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?',
 'Is itrude to recline your seat on a plane?',
 'Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?',
 'Is it rude to ask someone to switch seats with you in order to be closer to friends?',
 'Is itrude to ask someone to switch seats with you in order to be closer to family?',
 'Is it rude to wake a passenger up if you are trying to go to the bathroom?',
 'Is itrude to wake a passenger up if you are trying to walk around?',
 'In general, is itrude to bring a baby on a plane?',
 'In general, is it rude to knowingly bring unruly children on a plane?',
 "Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?",
 'Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?',
 'Gender',
 'Age',
 'Household Income',
 'Education',
 'Location (Census Region)']

In [8]:
# rename columns with shorter name
fte.columns = ['RespondentID', 'Travel by plane','Recline your seat','Height','Children under 18',\
                      'User of two arm rests','User of middle arm rest','Control over the window shade',\
                      'Move to an unsold','Say words to neighbor','Get up if not in aisle seat',\
                      'Reclines seat; rude sitting behind','Rude to recline seat','Eliminate reclining seats',\
                      'Ask to switch seats - friends','Ask to switch seats - family','Wake a passenger for bathroom',\
                      'Wake a passenger to walk','Rude to bring a baby','Rude to bring unruly children',\
                      "Used personal electronics during take off or landing",'Smoked a cigarette in bathroom',\
                      'Gender','Age','Household Income','Education','Location (Census Region)']
fte

,RespondentID,Travel by plane,Recline your seat,Height,Children under 18,User of two arm rests,User of middle arm rest,Control over the window shade,Move to an unsold,Say words to neighbor,...,Wake a passenger to walk,Rude to bring a baby,Rude to bring unruly children,Used personal electronics during take off or landing,Smoked a cigarette in bathroom,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific
3,3434268208,Once a year or less,Always,"5'11""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific
4,3434250245,Once a month or less,About half the time,"5'7""",No,The person in the middle seat gets both arm rests,The person in aisle,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",Yes,No,Male,30-44,"$50,000 - $99,999",Bachelor degree,Pacific
5,3434245875,Once a year or less,Usually,"5'9""",Yes,Whoever puts their arm on the arm rest first,Whoever puts their arm on the arm rest first,The person in the window seat should have excl...,"Yes, somewhat rude","No, not at all rude",...,"Yes, very rude","Yes, very rude","Yes, very rude",No,No,Male,30-44,"$25,000 - $49,999",Graduate degree,East North Central
6,3434235351,Once a month or less,Once in a while,"6'2""",Yes,The person in the middle seat gets both arm rests,Whoever puts their arm on the arm rest first,Everyone in the row should have some say,"No, not rude at all","Yes, somewhat rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",No,No,Male,30-44,150000,Some college or Associate degree,Pacific
7,3434218031,Once a year or less,Once in a while,"6'0""",Yes,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,New England
8,3434213681,Once a year or less,Once in a while,"6'0""",Yes,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3434172894,Once a year or less,Never,"5'6""",No,Other (please specify),Other (please specify),Everyone in the row should have some say,"Yes, very rude","Yes, very rude",...,"Yes, very rude","Yes, very rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific
10,3434165659,Once a month or less,Usually,"6'0""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"Yes, very rude","No, not at all rude",...,"Yes, very rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$50,000 - $99,999",High school degree,Mountain
11,3434164339,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,3434161941,Once a year or less,Never,"5'7""",NaN,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"Yes, somewhat rude","Yes, somewhat rude",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,3434155493,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,30-44,"$100,000 - $149,999",Some college or Associate degree,Pacific
14,3434132453,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,18-29,NaN,High school degree,South Atlantic
15,3434131535,Once a year or less,Once in a while,"6'0""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","Yes, somewhat rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,18-29,150000,Some college or Associate degree,East South Central
16,3434125180,A few times per week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,3434122066,Once a year or less,Always,"5'8""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, very rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,"$100,000 - $149,999",Some college or Associate degree,Middle Atlantic
18,3434114105,Once a year or less,Once in a while,"6'1""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",Yes,No,Male,30-44,150000,Bachelor degree,West North Central
19,3434109246,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3434107997,Once a year or less,Never,"5'10""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic
21,3434100967,Once a year or less,Once in a while,"5'7""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,East North Central
22,3434087928,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,18-29,"$50,000 - $99,999",Bachelor degree,East North Central
23,3434084098,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
24,3434071488,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,18-29,"$50,000 - $99,999",Bachelor degree,Pacific
25,3434061256,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,30-44,NaN,High school degree,Middle Atlantic
26,3434059758,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,18-29,"$50,000 - $99,999",Bachelor degree,Pacific
27,3434052290,Once a year or less,Once in a while,"6'0""",No,The arm rests should be shared,Whoever puts their arm on the arm rest first,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","Yes, very rude",No,No,Male,30-44,"$25,000 - $49,999",Bachelor degree,East North Central
28,3434049700,Once a year or less,About half the time,"6'2""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","Yes, somewhat rude","Yes, very rude",Yes,No,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West South Central
29,3434041278,Once a year or less,Always,"5'6""",No,Other (please specify),Other (please specify),The person in the window seat should have excl...,"Yes, somewhat rude","No, not at all rude",...,"Yes, very rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,150000,Some college or Associate degree,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,3431751287,Once a year or less,Always,"5'1""",No,Whoever puts their arm on the arm rest first,Whoever puts their arm on the arm rest first,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Female,45-60,"$0 - $24,999",Graduate degree,Pacific
1011,3431751153,Once a month or less,Once in a while,"5'2""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, very rude","Yes, somewhat rude","Yes, somewhat rude",Yes,No,Female,18-29,"$0 - $24,999",Graduate degree,Pacific
1012,3431751080,Once a month or less,Usually,"6'5""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude",Yes,No,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,East North Central
1013,3431748816,Once a year or less,Always,"5'2""",No,The person in the middle seat gets both arm rests,The person by the window,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","Yes, somewhat rude","Yes, very rude",No,No,Female,45-60,NaN,Some college or Associate degree,Middle Atlantic
1014,3431748763,Once a year or less,Once in a while,"5'5""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",No,No,Female,> 60,"$25,000 - $49,999",Some college or Associate degree,Pacific
1015,3431748698,A few times per month,Never,"5'10""",Yes,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",Yes,No,Male,45-60,150000,Graduate degree,Mountain
1016,3431747718,Once a year or less,Always,"5'2""",No,The arm rests should be shared,The person in aisle,The person in the window seat should have excl...,"No, not rude at all","Yes, somewhat rude",...,"Yes, very rude","Yes, somewhat rude","Yes, somewhat rude",No,No,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Mountain
1017,3431746726,Once a year or less,Once in a while,"5'4""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude",No,No,Female,45-60,"$50,000 - $99,999",Bachelor degree,Pacific
1018,3431745079,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Bachelor degree,Middle Atlantic
1019,3431744747,Once a month or less,Once in a while,"5'8""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","Yes, very rude",No,No,Male,> 60,150000,Graduate degree,Pacific
1020,3431744533,A few times per month,Once in a while,"5'4""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","Yes, somewhat rude",No,No,Female,30-44,NaN,Graduate degree,Pacific
1021,3431744015,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,West South Central
1022,3431743115,Once a month or less,About half the time,"6'0""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","Yes, very rude",No,No,Male,45-60,"$100,000 - $149,999",Bachelor degree,West North Central
1023,3431741243,Once a year or less,Never,"5'10""",No,The arm rests should be shared,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, very rude","Yes, very rude","Yes, very rude",No,No,Female,18-29,"$0 - $24,999",Some college or Associate degree,Pacific
1024,3431740654,Once a year or less,Once in a while,"5'6""",No,The person in the middle seat gets both arm rests,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",No,No,Female,> 60,"$50,000 - $99,999",Bachelor degree,West North Central
1025,3431738966,A few times per month,Always,"5'4""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","Yes, somewhat rude",...,"Yes, somewhat rude","Yes, very rude","Yes, very rude",Yes,No,Female,45-60,150000,Some college or Associate degree,Pacific
1026,3431737634,Once a year or less,Once in a while,"5'6""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","No, not at all rude",No,No,Female,18-29,NaN,Some college or Associate degree,West South Central
1027,3431737213,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,Whoever puts their arm on the arm rest first,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","No, not at all rude","Yes, somewhat rude",No,No,Male,45-60,150000,Graduate degree,Pacific
1028,3431737008,Once a year or less,Never,"5'4""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","Yes, somewhat rude",...,"No, not at all rude","No, not at all rude","Yes, somewhat rude",No,No,Female,> 60,"$50,000 - $99,999",Graduate degree,West North Central
1029,3431736876,Once a month or less,Once in a while,"5'4""",No,The people in the aisle and window seats get b...,The person by the window,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, very rude","No, not at all rude","No, not at all rude",Yes,No,Female,18-29,NaN,Bachelor degree,East North Central
1030,3431736855,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$0 - $24,999",Bachelor degree,Pacific
1031,3431736438,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$25,000 - $49,999",Some college or Associate degree,East South Central
1032,3431735911,Once a year or less,Always,"5'3""",No,Whoever puts their arm on the arm rest first,Whoever puts their arm on the arm rest first,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, very rude","Yes, very rude","Yes, very rude",Yes,No,Female,30-44,150000,High school degree,Middle Atlantic
1033,3431734973,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,18-29,"$0 - $24,999",Some college or Associate degree,West South Central
1034,3431734398,A few times per month,Once in a while,"6'1""",Yes,The person in the middle seat gets both arm rests,Other (please specify),Everyone in the row should have some say,"No, not rude at all","Yes, somewhat rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude",No,No,Male,30-44,150000,Graduate degree,Pacific
1035,3431732652,Once a year or less,Once in a while,"5'7""",No,Other (please specify),Other (please specify),Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Some college or Associate degree,East North Central
1036,3431731770,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Male,45-60,150000,Bachelor degree,Pacific
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

In [9]:
# view head again - now just 3 rows
fte.head(3)

,RespondentID,Travel by plane,Recline your seat,Height,Children under 18,User of two arm rests,User of middle arm rest,Control over the window shade,Move to an unsold,Say words to neighbor,...,Wake a passenger to walk,Rude to bring a baby,Rude to bring unruly children,Used personal electronics during take off or landing,Smoked a cigarette in bathroom,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have excl...,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific

In [10]:
# view the last 3 rows
fte.tail(3)

,RespondentID,Travel by plane,Recline your seat,Height,Children under 18,User of two arm rests,User of middle arm rest,Control over the window shade,Move to an unsold,Say words to neighbor,...,Wake a passenger to walk,Rude to bring a baby,Rude to bring unruly children,Used personal electronics during take off or landing,Smoked a cigarette in bathroom,Gender,Age,Household Income,Education,Location (Census Region)
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",...,"Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

In [11]:
# check the data type of the DataFrame
type(fte)

pandas.core.frame.DataFrame

In [12]:
# How many unique travel frequencies are there? What are they?
fte['Travel by plane'].nunique()

6

In [13]:
# How many unique regions are there? What are they?
fte['Location (Census Region)'].nunique()

9

In [14]:
# Select just those columns that relate to the personal characteristics of the person
# Save that as a DataFrame name char

In [15]:
columns = ['Gender', 'Age', 'Household Income', 'Education', 'Location (Census Region)', 'Height']
fte[columns]

,Gender,Age,Household Income,Education,Location (Census Region),Height
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Male,30-44,NaN,Graduate degree,Pacific,"6'3"""
2,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific,"5'8"""
3,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific,"5'11"""
4,Male,30-44,"$50,000 - $99,999",Bachelor degree,Pacific,"5'7"""
5,Male,30-44,"$25,000 - $49,999",Graduate degree,East North Central,"5'9"""
6,Male,30-44,150000,Some college or Associate degree,Pacific,"6'2"""
7,Male,30-44,"$0 - $24,999",Bachelor degree,New England,"6'0"""
8,NaN,NaN,NaN,NaN,NaN,"6'0"""
9,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific,"5'6"""
10,Male,30-44,"$50,000 - $99,999",High school degree,Mountain,"6'0"""
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,"5'7"""
13,Male,30-44,"$100,000 - $149,999",Some college or Associate degree,Pacific,NaN
14,Male,18-29,NaN,High school degree,South Atlantic,NaN
15,Male,18-29,150000,Some college or Associate degree,East South Central,"6'0"""
16,NaN,NaN,NaN,NaN,NaN,NaN
17,Male,30-44,"$100,000 - $149,999",Some college or Associate degree,Middle Atlantic,"5'8"""
18,Male,30-44,150000,Bachelor degree,West North Central,"6'1"""
19,NaN,NaN,NaN,NaN,NaN,NaN
20,Male,18-29,"$25,000 - $49,999",Bachelor degree,South Atlantic,"5'10"""
21,Male,30-44,"$0 - $24,999",Bachelor degree,East North Central,"5'7"""
22,Male,18-29,"$50,000 - $99,999",Bachelor degree,East North Central,NaN
23,Male,18-29,"$0 - $24,999",Some college or Associate degree,East North Central,NaN
24,Male,18-29,"$50,000 - $99,999",Bachelor degree,Pacific,NaN
25,Male,30-44,NaN,High school degree,Middle Atlantic,NaN
26,Male,18-29,"$50,000 - $99,999",Bachelor degree,Pacific,NaN
27,Male,30-44,"$25,000 - $49,999",Bachelor degree,East North Central,"6'0"""
28,Male,18-29,"$50,000 - $99,999",Some college or Associate degree,West South Central,"6'2"""
29,Male,30-44,150000,Some college or Associate degree,Pacific,"5'6"""
...,...,...,...,...,...,...
1010,Female,45-60,"$0 - $24,999",Graduate degree,Pacific,"5'1"""
1011,Female,18-29,"$0 - $24,999",Graduate degree,Pacific,"5'2"""
1012,Male,18-29,"$25,000 - $49,999",Some college or Associate degree,East North Central,"6'5"""
1013,Female,45-60,NaN,Some college or Associate degree,Middle Atlantic,"5'2"""
1014,Female,> 60,"$25,000 - $49,999",Some college or Associate degree,Pacific,"5'5"""
1015,Male,45-60,150000,Graduate degree,Mountain,"5'10"""
1016,Female,18-29,"$25,000 - $49,999",Some college or Associate degree,Mountain,"5'2"""
1017,Female,45-60,"$50,000 - $99,999",Bachelor degree,Pacific,"5'4"""
1018,Female,> 60,NaN,Bachelor degree,Middle Atlantic,NaN
1019,Male,> 60,150000,Graduate degree,Pacific,"5'8"""
1020,Female,30-44,NaN,Graduate degree,Pacific,"5'4"""
1021,Female,> 60,NaN,Some college or Associate degree,West South Central,NaN
1022,Male,45-60,"$100,000 - $149,999",Bachelor degree,West North Central,"6'0"""
1023,Female,18-29,"$0 - $24,999",Some college or Associate degree,Pacific,"5'10"""
1024,Female,> 60,"$50,000 - $99,999",Bachelor degree,West North Central,"5'6"""
1025,Female,45-60,150000,Some college or Associate degree,Pacific,"5'4"""
1026,Female,18-29,NaN,Some college or Associate degree,West South Central,"5'6"""
1027,Male,45-60,150000,Graduate degree,Pacific,"5'8"""
1028,Female,> 60,"$50,000 - $99,999",Graduate degree,West North Central,"5'4"""
1029,Female,18-29,NaN,Bachelor degree,East North Central,"5'4"""
1030,Female,30-44,"$0 - $24,999",Bachelor degree,Pacific,NaN
1031,Female,30-44,"$25,000 - $49,999",Some college or Associate degree,East South Central,NaN
1032,Female,30-44,150000,High school degree,Middle Atlantic,"5'3"""
1033,Female,18-29,"$0 - $24,999",Some college or Associate degree,West South Central,NaN
1034,Male,30-44,150000,Graduate degree,Pacific,"6'1"""
1035,Male,30-44,"$0 - $24,999",Some college or Associate degree,East North Central,"5'7"""
1036,Male,45-60,150000,Bachelor degree,Pacific,NaN
1037,Female,> 60,NaN,Some college or Associate degree,East North Central,NaN
1038,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England,NaN
1039,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific,"6'3"""

In [16]:
# From the new char DataFrame, select the height. Can you create a histogram?
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# fte['Height'].hist() --- We can't create a histogram because we're given an error. Drat!

In [47]:
# Create a histogram by creating a list comprehension + a function to turn the data into inches

def cleanup(x):
    if pd.isnull(x):
        return x
    elif 'Under' in x:
        return 78
    elif 'above' in x:
        return 60
    else:
        feet = int(x.split("'")[0]) * 12
        inches = int(x.split("'")[1].replace('"',''))
        return feet + inches

fte['Height'] = [cleanup(x) for x in fte['Height']]

fte['Height'].hist()

TypeError: argument of type 'numpy.float64' is not iterable

In [32]:
# Slice the first 3 columns using .iloc notation, then use the double bracket notation
fte.iloc[:,:3]

      RespondentID        Travel by plane    Recline your seat
0       3436139758    Once a year or less                  NaN
1       3434278696    Once a year or less  About half the time
2       3434275578    Once a year or less              Usually
3       3434268208    Once a year or less               Always
4       3434250245   Once a month or less  About half the time
5       3434245875    Once a year or less              Usually
6       3434235351   Once a month or less      Once in a while
7       3434218031    Once a year or less      Once in a while
8       3434213681    Once a year or less      Once in a while
9       3434172894    Once a year or less                Never
10      3434165659   Once a month or less              Usually
11      3434164339    Once a year or less                  NaN
12      3434161941    Once a year or less                Never
13      3434155493                  Never                  NaN
14      3434132453                  Never                  NaN
15      3434131535    Once a year or less      Once in a while
16      3434125180   A few times per week                  NaN
17      3434122066    Once a year or less               Always
18      3434114105    Once a year or less      Once in a while
19      3434109246    Once a year or less                  NaN
20      3434107997    Once a year or less                Never
21      3434100967    Once a year or less      Once in a while
22      3434087928                  Never                  NaN
23      3434084098                  Never                  NaN
24      3434071488                  Never                  NaN
25      3434061256                  Never                  NaN
26      3434059758                  Never                  NaN
27      3434052290    Once a year or less      Once in a while
28      3434049700    Once a year or less  About half the time
29      3434041278    Once a year or less               Always
...            ...                    ...                  ...
1010    3431751287    Once a year or less               Always
1011    3431751153   Once a month or less      Once in a while
1012    3431751080   Once a month or less              Usually
1013    3431748816    Once a year or less               Always
1014    3431748763    Once a year or less      Once in a while
1015    3431748698  A few times per month                Never
1016    3431747718    Once a year or less               Always
1017    3431746726    Once a year or less      Once in a while
1018    3431745079                  Never                  NaN
1019    3431744747   Once a month or less      Once in a while
1020    3431744533  A few times per month      Once in a while
1021    3431744015                  Never                  NaN
1022    3431743115   Once a month or less  About half the time
1023    3431741243    Once a year or less                Never
1024    3431740654    Once a year or less      Once in a while
1025    3431738966  A few times per month               Always
1026    3431737634    Once a year or less      Once in a while
1027    3431737213    Once a year or less              Usually
1028    3431737008    Once a year or less                Never
1029    3431736876   Once a month or less      Once in a while
1030    3431736855                  Never                  NaN
1031    3431736438                  Never                  NaN
1032    3431735911    Once a year or less               Always
1033    3431734973                  Never                  NaN
1034    3431734398  A few times per month      Once in a while
1035    3431732652    Once a year or less      Once in a while
1036    3431731770                  Never                  NaN
1037    3431731485                  Never                  NaN
1038    3431731196                  Never                  NaN
1039    3431729581    Once a year or less      Once in a while

[1040 rows x 3 columns]

In [ ]:
## Create a dictionary using .unique and a dictionary comprehension
## Then use a list comprehension with a function to update the count the number of degrees
## How many degreee of each type are there?

In [43]:
education = {}
education = {key:0 for key in fte['Education'].unique()}

education

{nan: 0,
 'Bachelor degree': 0,
 'Graduate degree': 0,
 'High school degree': 0,
 'Less than high school degree': 0,
 'Some college or Associate degree': 0}

In [44]:
def counter(x):
    education[x] = education[x] + 1

for x in fte['Education']:
    counter(x)

education

{nan: 39,
 'Bachelor degree': 325,
 'Graduate degree': 284,
 'High school degree': 98,
 'Less than high school degree': 8,
 'Some college or Associate degree': 286}

In [45]:
# Now use the education column with the .value_counts() method to check your work. Are they the same?
fte['Education'].value_counts()

Bachelor degree                     325
Some college or Associate degree    286
Graduate degree                     284
High school degree                   98
Less than high school degree          8
Name: Education, dtype: int64